<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= content %>
        <button type="button" class="btn btn-block btn-secondary mt-3" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> 

